#button{
    width:100px;
    height:30px;
    color:white;
    background-color:black;
    border-radius:10px;
}

#button_1{
    width:100px;
    height:30px;
    color:white;
    background-color: black;
    border-radius:10px;

}
#button_2{
    width:100px;
    height:30px;
    color:white;
    background-color: black;
    border-radius:10px;

}
#button_3{
    width:100px;
    height:30px;
    color:white;
    background-color: black;
    border-radius:10px;

}
#button_4{
    width:100px;
    height:30px;
    color:white;
    background-color: black;
    border-radius:10px;

}
#button_5{
    width:100px;
    height:30px;
    color:white;
    background-color: black;
    border-radius:10px;
}